{%extends "base.html"%} {%block content%}
<body>
  <!-- Body -->
  <div class="container-fluid">
    <main class="middle">
      <div class="main">
        <div class="side">
          <h1 class="title1"><span class="logo">Pla</span>nner</h1>
          <h2 class="title2">~Providing business Solutions where Needed~</h2>
        </div>
        <div class="side">
          {% if route == 'login' or route!="signup" %} {% include 'login.html'%}
          {% endif %} {% if route == "signup" %} {% include 'signUp.html'%} {%
          endif %}
          <div class="buttonContainer">
            <button id="button1" class="mbtn btn btn-success btn-lg">
              More about us
            </button>
            <button id="button2" class="mbtn btn btn-lg" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Check me Out!</button>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>


{%endblock%}
