<h2 class="title1">Create Account</h2>
<div class="card cardContainer">
  <p class="innerText">We'll Do it your way!</p>
  <h4 class="innerText primary">Sign Up</h4>

  <form action="signup" method="post">
    <div class="input mb-3">
      <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
      >
      <input
      type="email"
      name="email"
      class="rounded form-control"
      autofocus
      placeholder="name@example.com"
      />
    </div>
    <div class="input mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Display Name</label
      >
      <input
        type="name"
        name="name"
        class="rounded form-control"
      />
    </div>
    <div class="input mb-3">
      <label for="exampleFormControlInput2" class="form-label">Password</label>
      <input name="password" type="password" class="rounded form-control" />
    </div>
    <div class="input mb-3">
      <label for="exampleFormControlInput3" class="form-label"
        >Confirm Password</label
      >
      <input type="password" class="rounded form-control" />
    </div>
    <input
      class="btn btn-success btn-md"
      id="modalButton"
      label="Create Account"
      type="submit"
    />
  </form>
  <p class="">
    Already have an account?
    <a class="primary underlined" href="/">Login</a>
  </p>
</div>
